<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>Spuds</title>
</head>
<body>
	<h1>Wow, lots of carbs</h1>
	<p>I like {{ variety }} potatoes. Pass the {{ cdmts }}.</p>
	<p>You should cook these at {{ temp }} degrees.</p>
	<form action="survey">
		What kind of potatoe do you like?
		<select name="answer">
			<option>Russet</option>
			<option>Golden</option>
			<option>Sweet</option>
			<option>None (I'm on the keto diet)</option>
		</select>
		<button>Submit Your Answer</button>
	</form>
</body>
</html>